<% content_for :head do %>
    <link href="/css/log_reg.css" type="text/css" rel="stylesheet">
<% end %>

<body onhashchange="hashChanged();">
<div class="container">
    <div class='head row'>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" id="search" placeholder="Search">
                <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
            </div>
        </div>
        <div class="col-md-4  align-center ">
            <ul class="list-inline" id="menu-list">
                <li><a href="/">发现</a></li>
                <li><img src="/images/logo.png" alt="huntcode" class="logo img-circle"></li>
                <li><a href="/projects">项目库</a></li>
            </ul>

        </div>
        <div id="login_reg" class="col-md-4 align-right">
            <a class='' href='/'>返回主页</a>
        </div>
    </div>
</div>

<div class="main container">
    <div class="reg_login com_width">
        <ul class="reg_login_ul list-inline">
            <li class="login_li active"><a href="#signin">登录</a></li>
            <li class="signup_li"><a href="#signup">注册</a></li>
        </ul>
        <div class="reg-login-wrap raw">
            <div class="reg-login-wrapleft col-md-6" id="login">
                <span class="form-tips">使用HuntCode账号登录</span>

                    <%= form_for(:session, url: sessions_path) do |f| %>
                    <div class="form-group">
                        <%= f.email_field :x_email, class: "form-control", placeholder: "邮箱" %>
                    </div>
                    <div class="form-group">
                        <%= f.password_field :password, class: "form-control", placeholder: "密码" %>
                    </div>
                        <%= f.submit "登录", class: "btn btn-primary" %>
                    <% end %>
            </div>

            <div class="reg-login-wrapleft col-md-6" id="register" style="display: none;">
                <span class="form-tips">注册HuntCode账号</span>

                    <%= form_for(:user, url: users_path) do |f| %>

                        <%= f.email_field :x_email, class: "form-control", placeholder: "请输入邮箱" %>
                        <%= f.text_field :x_username, class: "form-control", placeholder: "输入用户名" %>
                        <%= f.password_field :password, class: "form-control", placeholder: "输入密码" %>
                        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "确认密码" %>
                        <%= f.submit "注册", class: "btn btn-primary" %>
                    <% end %>
            </div>

            <div class="sso-content col-md-6">
                <span class="form-tips">使用第三方账号登录</span>
                <ul>
                    <li><a href="https://github.com/login/oauth/authorize?client_id=ea6bbfeb21340b60c869&state=hello&redirect_uri=http://localhost:3000/github/login"><img  class="img-responsive" src="/images/github.png" title="GitHub登录" alt="GitHub登录" ></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<% content_for :tail do %>
<!-- 处理signin和signup标签 -->
<script type="text/javascript">
function signup(){
    $("li.login_li").removeClass("active");
    $("li.signup_li").addClass("active");
    $("#login")[0].style.display="none";
    $("#register")[0].style.display="block";
};
function signin(){
    $("li.signup_li").removeClass("active");
    $("li.login_li").addClass("active");
    $("#login")[0].style.display="block";
    $("#register")[0].style.display="none";
};
function hashChanged() {
    var hash = window.location.hash;
    if (hash == "#signin") {
        signin();
    }
    else if (hash == "#signup") {
        signup();
    };
};
// 页面加载完成执行一次
hashChanged();
</script>
<% end %>
