
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>HuntCode</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="jQuery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link href="css/slide_common.css" type="text/css" rel="stylesheet">
    <link href="css/BigSlide.css" type="text/css" rel="stylesheet">
    <script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="js/BigSlide.js" type="text/javascript"></script>
    <link href="css/common.css" type="text/css" rel="stylesheet">
    <link href="css/log_reg.css" type="text/css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class='head row'>
        <!-- <div class="input-group">
          <input type="text" class="form-control" id="search" placeholder="Search">
          <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
        </div> -->
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" id="search" placeholder="Search">
                <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
            </div>
        </div>
        <div class="col-md-4  align-center ">
            <ul class="list-inline" id="menu-list">
                <li><a href="#">发现</a></li>
                <li><img src="images/logo.png" alt="huntcode" class="logo img-circle"></li>
                <li><a href="#">项目库</a></li>
            </ul>

        </div>
        <div id="login_reg" class="col-md-4 align-right">
            <a class='' href='#'>登录/注册</a>
        </div>
    </div>

</div>
<div class="main container">
    <div class="reg_login com_width">
        <ul class="reg_login_ul list-inline">
            <li class="login_li active"><a href="#">登录</a></li>
            <li><a href="#">注册</a></li>
        </ul>
        <div class="reg-login-wrap raw">
            <div class="reg-login-wrapleft col-md-6">
                <span class="form-tips">使用HuntCode账号登录</span>
                <form >
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">登录</button>
                </form>
            </div>
            <div class="sso-content col-md-6">
                <span class="form-tips">使用第三方账号登陆</span>
                <ul>
                    <li><a href="https://github.com/login/oauth/authorize?client_id=ea6bbfeb21340b60c869&state=hello&redirect_uri=http://localhost:63342/HuntCode/huntcode.html"><img  class="img-responsive" src="images/github.png" title="GitHub登录" alt="GitHub登录" ></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="foot-top">
        <h3><span class="main-color">HUNTCODE</span> 发现好项目</h3>
    </div>
    <div class="foot-link">
        <a target="_blank" href="#">关于我们</a>
        <a target="_blank" href="#">联系我们</a>
        <a target="_blank" href="#">意见反馈</a>
    </div>
    <div class="partner">
                <span>
                合作伙伴
                </span>
        <a target="_blank" href="http://fir.im/">
            <img src="images/partner_02.png">
        </a>
        <a target="_blank" href="http://www.3wnb.com/">
            <img src="images//partner_03.png">
        </a>
        <a target="_blank" href="http://www.pgyer.com/">
            <img src="images//partner_01.png">
        </a>
        <a target="_blank" href="https://www.teambition.com/">
            <img src="images//20150302043118846.png">
        </a>
        <a href="http://www.woshipm.com" target="_blank">
            <img src="images//20150527105842729.png">
        </a>
    </div>
    <div class="foot_copyright">
        Copyright 2014-2015 cyzone.cn All rights reserved 京ICP证070362号 京ICP备08103950号 京公海网安备110108000742号新出发京零字第朝140005
    </div>
</div>


</body>
</html>