<div id="footer">
    <div class="foot-top">
        <h3><span class="main-color">HUNTCODE</span> 发现好项目</h3>
    </div>
    <div class="foot-link">
        <a target="_blank" href="#">关于我们</a>
        <a target="_blank" href="#">联系我们</a>
        <a target="_blank" href="#">意见反馈</a>
    </div>
    <div class="partner">
                <span>
                合作伙伴
                </span>
        <a target="_blank" href="http://fir.im/">
            <img src="/images/partner_02.png">
        </a>
        <a target="_blank" href="http://www.3wnb.com/">
            <img src="/images/partner_03.png">
        </a>
        <a target="_blank" href="http://www.pgyer.com/">
            <img src="/images/partner_01.png">
        </a>
        <a target="_blank" href="https://www.teambition.com/">
            <img src="/images/20150302043118846.png">
        </a>
        <a href="http://www.woshipm.com" target="_blank">
            <img src="/images/20150527105842729.png">
        </a>
    </div>
    <div class="foot_copyright">
        Copyright 2014-2015 cyzone.cn All rights reserved 京ICP证070362号 京ICP备08103950号 京公海网安备110108000742号新出发京零字第朝140005
    </div>
</div>
